/outboxml/app/jupyter-workspace/
/outboxml/app/grafana-data/
/examples/energy_efficiency/.ipynb_checkpoints/example-checkpoint.ipynb
/examples/energy_efficiency/.ipynb_checkpoints/
/examples/energy_efficiency/configs/.ipynb_checkpoints/
